@model List<User>

<h2>All User Details</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Password</th>
            <th scope="col">CreateAt</th>
            <th scope="col">IsAvtive</th>
            <th scope="col">Change To Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                @if (user.IsAvtive == false)
                {
                    <th scope="row">@user.Id</th>
                    <td>@user.Name</td>
                    <td>@user.Password</td>
                    <td>@user.CreateAt</td>
                    <td>@user.IsAvtive</td>
                    <th scope="col">
                        <a asp-controller="Users" asp-action="ConvertToActive" asp-route-id="@user.Id" class="btn btn-success"> Avtive </a>
                    </th>
                }
            </tr>
        }
    </tbody>
</table>